nav {
    font-style: normal;
    font-size: 40px;
    color: rgb(226, 219, 219);
}
<style>
nav {
    background-color: rgb(133, 133, 131);
}
user agent stylesheet
nav {
    display: block;
}
h1 {
    font-style: initial;
    font-size: 40px;
    color: rgb(177, 0, 0);
}
h2 {
    font-style: inherit;
    color: rgb(14, 19, 121);
    font-size: 32px;
    counter-increment: none;
}
p {
    font-size: 16px;
}
aside {
    font-style: initial;
    color: rgb(173, 62, 62);
    mask-type: luminance;
}
footer {
    font-style: oblique;
    color: dimgrey;
    contain: layout;
}