*{
    background: #262626;
    color: #e6e6e6;
    padding: 0;
    margin: 0;
}

header{
   text-align: center;
   margin: 20px 0;
}

a{
    text-decoration: none;
    background: #323232;
    padding: 5px 0;
    &:hover{
        color: rgb(119, 194, 255);
        text-shadow: 1px 1px 10px  #e6e6e6;
        font-size: 18px;
    }
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
    background: #323232;
    height: 30px;
    display: flex;
    align-items: center;
}